{% extends "library/base.html" %}

{% block main %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success form-message">{{ message }}</div>
        {% endfor %}
    {% endif %}

    {% load crispy_forms_filters %}
    <form method="POST" class="form-group border border-secondary rounded p-4 mx-auto my-5">
        <h3>Sign In</h3>
        {% csrf_token %}
        {{ form|crispy }}
        <small>
            Don't have account yet?
            <a href="{% url 'register' %}">Sign up</a>
        </small>
        <div class="button-div">
            <button type="submit" class="btn btn-success">Log In</button>
        </div>
        <small>
            Forgot your password?
            <a href="{% url 'password_reset' %}">Reset</a>
        </small>
    </form>
{% endblock main %}