{% extends "library/base.html" %}

{% block main %}

    {% load crispy_forms_filters %}
    <form method="POST" class="form-group border border-secondary rounded p-4 mx-auto my-5">
        <h5>Enter the email address associated with your account. We will send you instructions for resetting your password</h5>
        {% csrf_token %}
        {{ form|crispy }}
        <div class="button-div">
            <button type="submit" class="btn btn-success">Reset password</button>
        </div>
    </form>
{% endblock main %}