{% extends "library/base.html" %}

{% block main %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success form-message">{{ message }}</div>
        {% endfor %}
    {% endif %}
    {% load crispy_forms_filters %}
    <div class="profile-container col-12 mx-auto my-4">
        <article class="profile-head mx-auto my-4">
            <h1 class="profile-title">{{ profile.user.username }}'s Profile </h1>
            <div class="profile-img-div my-3">
                <img class="profile-img center" src="{{ profile.profile_picture.url }}" alt="profile picture unavailable">
            </div>
        </article>

        <!-- The Modal -->
        <div class="modal" id="modalArticle">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <h4 class="modal-title">Update Profile</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <div class="modal-body">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ user_update_form|crispy }}
                            {{ profile_update_form|crispy }}
                            <input type="submit">
                        </form>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>

                </div>
            </div>
        </div>

        <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#modalArticle" style="width: 100%;">
            Update your profile <i class="fa fa-plus" aria-hidden="true" style="font-size: 12px;"></i>
        </button>

        <div class="profile-menu my-4">
            <button id="profile-info-button" class="btn-secondary btn-block">Information
                <i class="fa fa-caret-down"></i>
            </button>
            <ul id="profile-info-list">
                <li> Name: {{ profile.name }} </li>
                <li> Surname: {{ profile.surname }} </li>
                <li> Email: {{ profile.email }} </li>
                <li> Address: {{ profile.street }} {{ profile.post_code }} {{ profile.city }} {{ profile.country }}</li>
                <li> Phone number: {{ profile.phone_number }}</li>
                <li> Birth date: {{ profile.birth_date|date:"d.m.Y" }}</li>
            </ul>
            <button id="profile-books-button" class="btn-secondary btn-block">Borrowed Books
                <i class="fa fa-caret-down"></i>
            </button>
            <ul id="profile-books-list">
                {% for borrowing in borrowings %}
                    <li>
                        <a href="{% url 'borrowing-detail' borrowing.id %}"> {{ borrowing.book.author }} - "{{ borrowing.book.title }}" </a>
                    </li>
                {% endfor %}
            </ul>
            <button id="profile-wish-button" class="btn-secondary btn-block">Wish list
                <i class="fa fa-caret-down"></i>
            </button>
            <ul id="profile-wish-list">
                <li> Book1 </li>
                <li> Book2 </li>
                <li> Book3 </li>
            </ul>
        </div>
    </div>

    <script>
    $("#profile-info-button").click(function () {
        $("#profile-info-list").toggle(1000);
    });
    $("#profile-books-button").click(function () {
        $("#profile-books-list").toggle(1000);
    });
    $("#profile-wish-button").click(function () {
        $("#profile-wish-list").toggle(1000);
    });
    </script>

{% endblock main %}