{% extends "library/base.html" %}
{% load static %}

{% block main %}
    {% load crispy_forms_filters %}
    <h1 id="register-header">Register in our Library.</h1>
    <h3>It's only few steps!</h3>
    <form method="POST" class="form-group border border-secondary rounded p-4 mx-auto my-5">
        {% csrf_token %}
        {{ form|crispy }}
        <small>
            Already have an account?
            <a href="{% url 'login' %}">Sign in</a>
        </small>
        <div class="button-div">
            <button type="submit" class="btn btn-success">Create an account</button>
        </div>
    </form>
{% endblock main %}