h1, h2, h3, h4, h5, h6{
    text-align: center;
}

article{
    margin-top: 100px;
}

#news-container{
    width: 80%;
}
.news-title{
    min-height: 80px;
    color: #ffffff;
    background-color: #000099;
}

.publish-info{
    min-height: 15px;
    color: #47476b;
}
