body {
    font-family: 'Roboto', sans-serif;
}

.home-header {
    height: 100vh;
    background: url("https://images.unsplash.com/photo-1526721940322-10fb6e3ae94a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80") fixed;
    color: white;
    font-size: 40px;
    position: relative;
}

.overlay {
    position: absolute;
    background: #000000;
    z-index: 1;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    opacity: 75%;
}

.home-content{
    top: 35vh;
    position: relative;
    margin: auto;
    text-align: center;
    color: white;
    z-index: 2;
    font-weight: 600;
}

.home-content h3{
    font-weight: 100;
}

.header-field a {
    text-decoration: none;
    color: white;
    font-weight: 100;
    font-size: 20px;
    line-height: 40px;
    display: block;
}

.header-field {
    margin: 10px auto auto;
    border: 1px solid white;
    border-radius: 5px;
    width: 180px;
    height: 40px;
    font-size: 20px;
    font-weight: 100;
    text-align: center;
}

.header-field:hover{
    background: rgba(255, 255, 255, 0.1);
    transition: background-color 300ms;

}

header div {
    text-align: center;
}


form button {
    background: #007bff;
    color: #ffffff;
    padding: 10px;
    font-size: 20px;
    border: none;
    round-clip: 10px;
    border-radius: 5px;
    min-width: 200px;
    margin-top: 10px;
}
form button:hover{
    background: #118cff;
    cursor: pointer;
}

#register-header {
    margin-top: 20px;
}

form{
    max-width: 500px;
}

.button-div{
    text-align: center;
}

main{
    min-height: 400px;
}

.box {
    z-index: 2;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box span {
    display: block;
    width: 20px;
    height: 20px;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}

.box span:nth-child(2){
    animation-delay: -.2s;
}

.box span:nth-child(3){
    animation-delay: -.4s;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}