h1, h2, h3, h4, h5, h6{
    text-align: center;
}

article{
    margin-top: 100px;
    width: 80%
}

.news-title{
    min-height: 50px;
}

.publish-info{
    min-height: 50px
}

.news-img{
    min-height: 100px
}