h1, h2, h3, h4, h5, h6{
    text-align: center;
}

article{
    width: 80%;
    text-align: justify;
    margin: 50px 50px 0;
}

article img{
    margin-bottom: 20px;
}

article h1, h4{
    text-align: left;
}


article div small {
    font-size: 15px;
}

.news-title{
    min-height: 50px;
}

.publish-info{
    min-height: 50px
}

.news-img{
    min-height: 100px
}

header {
    background: #007bff;
}

header div {
    text-align: center;
}

header div img {
    width: 70%;
    margin: 10px;
}

article {
    width: 100%;
}

article img {
    width: 100%;
}

form button {
    background: #007bff;
    color: #ffffff;
    padding: 10px;
    font-size: 20px;
}

#register-header {
    margin-top: 20px;
}

form{
    max-width: 500px;
}

.button-div{
    text-align: center;
}

main{
    min-height: 400px;
}