.profile-title{
    text-align: center;
}

.profile-container{
    max-width: 500px;
}

.profile-head{
    border: 1px solid #302f2a;
    border-radius: 10px;
}

.profile-img-div{
    text-align: center;
}

.profile-img{
    width: 40%;
    height: auto;
}

.profile-menu{
    background-color: #111;
    overflow-x: hidden;
    border: 1px solid #eeeeee;
    border-radius: 10px;
    margin: auto
}

.profile-menu ul{
    list-style-type: none;
    display: none;
    margin: 0;
    padding: 0;
}

.profile-menu ul li{
    display: block;
    color: #eeeeee;
    text-align: center;
    overflow: hidden;
}

.profile-menu button{
    cursor: pointer;
}