{% extends "library/base.html" %}
{% load crispy_forms_filters %}
{% load static %}

{% block main %}
    <form method="POST" class="form-group border border-secondary rounded p-4 mx-auto my-5">
        <h3 style="text-align: center">Are you sure you want to borrow this book ?</h3>
        {% csrf_token %}
        {{ form|crispy }}
        <div style="text-align: center;" class="my-4">
            <input class="btn btn-danger btn-lg mr-4" type="submit" value="Borrow">
            <a class="btn btn-dark btn-lg" href="{% url 'library-books' %}" role="button">Cancel</a>
        </div>
    </form>

{% endblock main %}