{% extends "library/base.html" %}
{% load static %}

{% block main %}
    {% load crispy_forms_filters %}
    <form method="POST" enctype="multipart/form-data" class="form-group border border-secondary rounded p-4 mx-auto my-5">
        <h3>Add new book</h3>
        {% csrf_token %}
        {{ form|crispy }}
        <div style="text-align: center">
            <input class="btn btn-success btn-lg mr-4" type="submit" value="Save">
            {% if object %}
                <a class="btn btn-danger btn-lg ml-4" href="{% url 'book-detail' object.id %}" role="button">Cancel</a>
            {% else %}
                <a class="btn btn-danger btn-lg ml-4" href="{% url 'library-books' %}" role="button">Cancel</a>
            {% endif %}

        </div>
    </form>
{% endblock main %}