{% extends "library/base.html" %}
{% load static %}

{% block main %}

    <form method="GET" action="" class="form-inline">
        <fieldset>
            <legend>Search book:</legend>
            <input type="text" id="book" class="form-control" value="{{ request.GET.q }}" name="q"/>
            <input type="submit" class="btn btn-default" value="search"/>
        </fieldset>
    </form>
    {% if request.GET.q %}
        {% if not books %}
            <div class="alert alert-info mt-4">
              <strong>No results found</strong>
            </div>
        {% endif %}

        {% for book, num_of_copies in books %}
            <article class="news-card col-12">
                <div class="news-img">
                    <img src="{{ book.image.url }}" alt="book image">
                </div>
                <div class="mb-3">
                    {% if user.is_staff%}
                        <a class="btn btn-lg btn-outline-secondary mt-2 mr-4" href="{% url 'book-update' book.id %}" role="button">Update</a>
                        <a class="btn btn-lg btn-outline-danger mt-2 mr-4" href="{% url 'book-delete' book.id %}" role="button">Delete</a>
                    {% endif %}
                    {% if user.is_authenticated %}
                        {% if book.is_available %}
                            <a class="btn btn-lg btn-outline-success mt-2 mr-4" href=" {% url 'book-borrow' book.id %}" role="button">Borrow book</a>
                            <a class="btn btn-lg btn-outline-secondary mt-2" href="#" role="button">Add to wish list</a>
                        {% else %}
                            <button class="btn btn-lg btn-outline-secondary mt-2 mr-4" disabled>Borrow book</button>
                            <a class="btn btn-lg btn-outline-success mt-2" href="#" role="button">Add to wish list</a>
                        {% endif %}
                    {% endif %}
                </div>
                <div class="news-container">
                    <h1 class="news-title">{{ book.author }} - {{ book.title }}</h1>

                    <p class="news-content"> Edition: {{ book.edition }} Imprint: {{ book.publisher }}</p>
                    <p class="news-content"> Published: {{ book.year }} Genre: {{ book.genre }}</p>
                    <div class="news-info">
                        <span>Number of copies available: {{ num_of_copies }}</span>
                    </div>
                </div>
                <div style="clear: both;"></div>
            </article>
        {% endfor %}

        {% if is_paginated %}
            <div style="text-align: center">
                {% if page_obj.has_previous %}
                    <a class="btn btn-outline-dark mb-3" href="?page=1&q={{ request.GET.q }}">First</a>
                    <a class="btn btn-outline-dark mb-3" href="?page={{ page_obj.previous_page_number }}&q={{ request.GET.q }}">Previous</a>
                {% endif %}
                {% for num in page_obj.paginator.page_range %}
                    {% if num == page_obj.number %}
                        <a class="btn btn-dark mb-3" href="?page={{ num }}&q={{ request.GET.q }}">{{ num }}</a>
                    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3'%}
                        <a class="btn btn-outline-dark mb-3" href="?page={{ num }}&q={{ request.GET.q }}">{{ num }}</a>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <a class="btn btn-outline-dark mb-3" href="?page={{ page_obj.next_page_number }}&q={{ request.GET.q }}">Next</a>
                    <a class="btn btn-outline-dark mb-3" href="?page={{ page_obj.paginator.num_pages }}&q={{ request.GET.q }}">Last</a>
                {% endif %}
            </div>
        {% endif %}

    {% endif %}
    <script src="{% static 'library/js/scroll-out.js' %}"></script>
    <script type="text/javascript">
        ScrollOut({
            targets: '.news-card',
            once: true
        })
    </script>

{% endblock main %}