{% extends "library/base.html" %}
{% load static %}

{% block main %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} form-message">{{ message }}</div>
        {% endfor %}
    {% endif %}
    <article class="news-card col-12">
        <div class="news-img">
            <img src="{{ book.image.url }}" alt="book image">
        </div>
        <div class="mb-3">
            {% if user.is_staff%}
                <a class="btn btn-lg btn-outline-secondary mt-2 mr-4" href="{% url 'book-update' object.id %}" role="button">Update</a>
                <a class="btn btn-lg btn-outline-danger mt-2 mr-4" href="{% url 'book-delete' object.id %}" role="button">Delete</a>
            {% endif %}
            {% if book.is_available %}
                <a class="btn btn-lg btn-outline-success mt-2 mr-4" href="#" role="button">Borrow book</a>
                <a class="btn btn-lg btn-outline-secondary mt-2" href="#" role="button">Add to wish list</a>
            {% else %}
                <a class="btn btn-lg btn-outline-secondary mt-2 mr-4" href="#" role="button" disabled>Borrow book</a>
                <a class="btn btn-lg btn-outline-success mt-2" href="#" role="button">Add to wish list</a>
            {% endif %}
        </div>
        <div class="news-container">
            <h1 class="news-title">{{ book.author }} {{ book.title }}</h1>

            <p class="news-content"> Edition {{ book.edition }} {{ book.year }} imprint: {{ book.publisher }}</p>
            <p class="news-content"> Genre: {{ book.genre }}</p>
        </div>
        <div style="clear: both;"></div>
    </article>

    <script src="{% static 'library/js/scroll-out.js' %}"></script>
    <script type="text/javascript">
        ScrollOut({
            targets: '.news-card',
            once: true
        })
    </script>
{% endblock main %}

